/* Pretendard 폰트 CDN */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

/* 전체 폰트 설정 */
.rb-box * {
  font-family: "Pretendard", "Noto Sans KR", system-ui, sans-serif !important;
  font-weight: 600;
  font-size: 19px;
}
